:root {
    --main-fg-color: blue !important; /* Zmienia domyślny kolor tekstu */
}

h1, h2, h3, h4, h5, h6 {
    color: blue !important; /* Zmienia kolor nagłówków */
}

header h1 {
    color: blue !important; /* Zmienia kolor tytułu strony */
}

}
.github-button {
    display: none !important;
}
